export DB_HOST={{ dbbackup.DB_HOST }}
export DB_USER={{ dbbackup.DB_USER }}
export DB_PASS={{ dbbackup.DB_PASS }}
export DB_NAME={{ dbbackup.DB_NAME }}

export S3_ACCESS_KEY_ID={{ dbbackup.S3_ACCESS_KEY_ID }}
export S3_SECRET_ACCESS_KEY={{ dbbackup.S3_SECRET_ACCESS_KEY }}

export HIPCHAT_TOKEN={{ dbbackup.HIPCHAT_TOKEN }}
export HIPCHAT_ROOM_NAMES="{{ dbbackup.HIPCHAT_ROOM_NAMES}}"

export DIGEST_IV="{{ dbbackup.DIGEST_IV }}"
export DIGEST_KEY="{{ dbbackup.DIGEST_KEY }}"
